.owned {
    margin-bottom: 10rem;
}
.menu {
    position: relative;
    margin-left: 80px;
    margin-top: 60px;
    display: inline-block;
}
.menu-item {
    padding: 3px;
    background-color: cadetblue;
    color: white;
    font-size: 1.2em;
    margin-right: 2px;
    border-radius: 2px;
}